:root{
    --background:#ffffff;
    --background_footer:#032859;
    --title:#032859;
    --title_second:#ffffff;
    --section_title:#000000;
    --text:#4B4B4B;
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-semiBold';
    src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf');
}

.marketplace_container{
    background-color: var(--background);
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

body {
  overflow-x: hidden;
}

/*NavBar css*/

.navbar_main_container{
    position: sticky!important;
    margin: 0;
    top: 0;
    z-index: 999;
}

.navbar_container{
    margin: 0;
    top: 0;
    background-color: var(--background_footer);
    color: var(--title_second);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 25px 20px;
}

.navbar_container a{
    color: var(--title_second);
}

.logo_marketplace{
    font-family: 'poppins-bold';
}

.pages_link{
    display: flex;
    gap: 20px;
    font-family: 'poppins-medium';
    font-size: 13px;
}

.log-sub{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'poppins-regular';
    font-size: 12px;
    cursor: pointer;
}

.search{
    color: var(--text);
    background-color: var(--background);
    border-radius: 10px;
    border: none!important;
    font-size: 10px;
    font-family: 'poppins-regular';
}

.search input{
    font-size: 13px!important;
    font-family: 'poppins-regular';
    padding: 5px 20px;
    width: 100%;
}

.basket{
    display: flex;
}

.basket_count{
    background-color:#1B618C;
    color: var(--background);
    display: flex;
    font-family: 'poppins-bold';
    align-items: center;
    padding: 5px;
    border-radius: 999px;
}

/*NavBar css*/

/*products basket */
.basket_products{
    height: 100vh!important;
    width: 23vw;
    right: 0;
    background-color: var(--background);
    position: absolute;
    padding: 20px 25px;
    box-sizing: border-box;
    animation: comeInComeOut 0.5s reverse;
}

.basket_items{
    border: 0.5px solid rgba(0, 0, 0, 0.171);
    margin-bottom: 10px;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_products_basket{
    text-align: left;
    font-family: 'poppins-semiBold';
    font-size: 15px;
    margin: 0px 0 50px 0;
    color: var(--section_title);
}

.products_list {
    text-align: left;
    font-family: 'poppins-regular';
    font-size: 12px;
    display: flex !important;
    justify-content: start !important;
    width: 100%;
    flex-wrap: wrap;
}
.product_name{
    font-family: 'poppins-regular';
    font-size:15px;
    color: var(--section_title);
    margin: 0 0 5px 0;
}

.product_price{
    font-family: 'poppins-semiBold';
    font-size:13px;
    color: var(--background_footer);
    margin: 0 0 15px 0;
}

.total_amount{
    background-color: #1b618c92;
    border-radius: 0px;
}

.total_amount p{
    color: var(--title_second);
    padding: 10px 30px;
}

.remove_product{
    cursor: pointer;
}



.basket_products .products_list {
    text-align: left;
    font-family: 'poppins-regular';
    font-size: 12px;
    display: inherit!important;
    width: 100%;
}


@keyframes comeInComeOut {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(150%);
    }
}

/*products basket */

/*product_file pages*/
.product_profil_container .product_description{
    color: var(--section_title);
}


.product_profil_container .product_title {
    position: relative;
    color: var(--section_title);
    font-family: 'poppins-medium';
    font-size: 15px;
    margin: 0 0 30px 0;
}

.product_profil_container .product_title::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 10px;
    left: 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.273);
}


.profil_product_container_img{
    width: 60%;
}

.product_profil_container .product_banner img {
    box-sizing: border-box;
    border-radius:20px;
}

.profil_product_container_details{
    box-sizing: border-box;
    padding: 20px 50px 0 90px;
    overflow: hidden !important;;
}

.profil_product_container_details .product_price{
    background-color: #1b618c92;
    padding: 5px 30px;
    width: 85%;
    margin: 20px 0;
    color: var(--title_second);
    border-radius: 0px;
    text-align: center;
}

.profil_product_container_details Button{
    background-color: var(--background_footer);
    color: var(--title_second);
    font-family: 'poppins-semiBold';
    font-size: 11px;
    text-transform:inherit;
    width: 100%;
    border-radius: 20px;
}

.profil_product_container_details .basket_button{
    margin: 0 0 10px 0;
}

.profil_product_container_details .basket_button_validate{
    background-color: #077132;
}
/*product_file page*/

/*footer css*/
.footer_container{
    background-color: var(--background_footer);
    color: var(--title_second);
}

.footer_container p{
    color: var(--title_second);
}

.block_one_footer{
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    box-sizing: border-box;
}

.block_one_footer ul li,.block_one_footer ul{
    list-style-type: none;
    padding:0;
    font-family: 'poppins-regular';
    font-size: 13px;
}


.block_one_footer ul li{
    margin-bottom: 10px;
}

.block_two_footer{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font-family: 'poppins-medium';
    font-size: 12px;
}

.block_two_footer span {
    border-top: 0.5px solid #ffffff57;
    padding: 21px 0 0 0;
    width: 41%;
    text-align: center;
}
/*footer css*/

/*slider css*/
.slides{
    overflow:hidden;
    display: flex;
    flex-wrap: nowrap;
}

.slide_one_container,
.slide_two_container {
    width: 100%;
    flex-shrink: 0;
    transition: 0.5s all;
}



.slider_content_one{
    background-image: url('../public/img/slider_img/slider01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    position: relative;
    text-align: left;
    padding: 120px;
}

.slider_dots {
    position: absolute;
    left: 50%;
    top: 310px;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;    
    z-index: 888; 
}
.dot {
  height: 20px;
  width: 20px!important;
  border-radius: 100%;
  background: rgba(255,255,255,0.5);
  border: none;
  cursor: pointer!important;
}

.dot.active {
  background: white;
}

.slider_content_one::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000004b;
    z-index: 20;
}


.slider_content_one h1{
    margin: 0;
    font-family: 'poppins-regular';
    font-size: 30px;
}

.slider_content_one h1,.slider_content_one p {
    position: relative;
    z-index: 888!important;
    color: var(--title_second);
}







.slider_content_two{
    background-image: url('../public/img/slider_img/slider02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    position: relative;
    text-align: left;
    padding: 120px;
}

.slider_content_two::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000004b;
    z-index: 20;
}


.slider_content_two h1{
    margin: 0;
    position: relative;
    font-family: 'poppins-regular';
    font-size: 30px;
    z-index: 888;
}

/*slider css*/


/* product container css */

.products_container{
    padding: 50px 100px;
}
.products_container h2{
 color: var(--section_title);
 text-align: left;
 font-family: 'poppins-semiBold';
 font-size: 20px;
}

.product_container {
    background-color: white;
    box-shadow: -8px 7px 20px 0 #00000024;
    width: 22%;
    height: 450px;
}

.products_list h2,.products_list h3 {
    color: var(--section_title);
}

.notice{
    color:#077132;
    font-family: 'poppins-bold';
    margin-bottom: 20px!important;
    font-size: 11px;
}

.details_product{
    text-align: left;
    box-sizing: border-box;
    padding: 10px 20px 20px;
    overflow: hidden;
}

.details_product h3{
    font-family: 'poppins-semiBold';
    font-size: 15px;
    margin-bottom: 8px!important;
}

.price{
    font-family: 'poppins-semiBold';
    font-size: 13px;
    margin-bottom: 5px!important;
    color: var(--title);
}

.description{
    font-family: 'poppins-regular';
    color: var(--text);
    font-size: 12px;
    margin-bottom: 20px!important;
}

.details_product h3,.details_product p{
    margin: 0;
}

.products_list Button{
    background-color: var(--background_footer);
    color: var(--title_second);
    font-family: 'poppins-semiBold';
    font-size: 11px;
    text-transform:inherit;
    width: 100%;
    border-radius: 20px;
}

.product_img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
/* product container css*/

p{
    color: var(--text);
}

/*dashboard*/

/*dashboard*/